body {
  margin: 0;
  width: auto;
  background: #5480ce;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  border-radius: 0px;
}
header {
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: start;
  column-gap: 10px;
  margin-right: 10px;
}
#main {
  width: 350px;
  padding-bottom: 20px;
  height: auto;
  color: #ffffff;
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 40px;
  background-color: #1f2937;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 40px;
  border-radius: 10px;
}
#main span {
  display: block;
  color: #4adf86;
}

#generate-pass {
  background: #4adf86;
  width: 191px;
  height: 42px;
  border-radius: 6px;
}
#password-display {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  width: 100%;
  margin: 0px auto;
  margin-top: 20px;
  overflow-x: hidden;
}
#password-display button {
  width: 80%;
  color: white;
  width: 200px;
  height: 39px;
  background: #273549;
  border-radius: 6px;
}
